In [23]:
# get necessary packages
import openai # to get OpenAI model works
import pandas as pd # we need DF
from tqdm import tqdm # to get a progress bar
import time
from concurrent.futures import ThreadPoolExecutor

In [24]:
################################
# the notebook are designed to utilize the OpenAI model to perform topic modeling.
################################

In [25]:
# input the api key
openai.api_key = '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'

In [26]:
def get_response(article_summary):
    '''
    input: the article summary 
    output: get the response from OpenAI model
    '''
    message = [
        {"role":"system", "content":"Please classify the article based on the provided topics: [hunger, refugees, humanitarian, conflict, natural disaster, agriculture, economics, not provided]. Select the only one topic from the topic list that best represents the main theme of the article and provide only the chosen result."},
        {"role":"user", "content":"The article discusses the passing of the new Constitution of the Republic of South Sudan by its parliament before the July 7, 2011 deadline. The new Constitution includes the creation of a new country called the Republic of South Sudan, with its own coat of arms, national flag, motto, central bank, currency, and national anthem. It also highlights the right to citizenship in South Sudan and allows for dual citizenship. The new constitution also allows foreigners who have married South Sudanese citizens to apply and become citizens. The article also mentions the settlement of the border issues between the northern and southern Sudan by calling for a referendum in the contentious oil-rich Abyei region."},
        {"role":"assistant", "content":"conflict"},
        {"role":"user", "content":article_summary}
    ]
    
    res = openai.ChatCompletion.create(
        model = "gpt-3.5-turbo",
        messages = message,
        temperature=0.2, # control randomness,
        request_timeout=60,
    )
    return res["choices"][0]["message"]["content"]

In [27]:
get_response("The article discusses the launch of a competition for funding by the Africa Enterprise Challenge Fund in Juba, South Sudan. The AECF provides investment support to businesses with innovative, commercially viable ideas and aims to promote risk taking and innovation amongst established and new businesses to create opportunities for the rural poor. The fund supports businesses in agriculture, rural financial services, renewable energy and technology to assist small farmers to adopt climate change and initiatives in media and information services relating to these sectors. Funding is provided in the form of grant and interest-free loans and is open to South Sudanese, African and international companies. The project should be commercially viable and have a positive impact on the rural poor in South Sudan to increase incomes and employment for poor people through reduced costs and improved productivity. The AECF is a US$ 150 million fund backed by leading development finance institutions and hosted by the Alliance for Green Revolution in Africa (AGRA) and is funded by various organisations including UKAid, Australian Government Aid Programme, Consultative Group to Assist the Poor (CGAP), Danish International Development Agency (DANIDA), International Fund for Agricultural Development (IFAD) and the Netherlands Ministry of Foreign Affairs (NMFA).")

'agriculture'

In [36]:
# read the source file (article summary)
article_summary = pd.read_csv('data/articles_summary_cleaned_standardized.csv')
article_summary

,summary,date,location_article,lat,lng,location_new
0,The article discusses the passing of the new C...,2011-07-07,Juba,4.859363,31.571250,Juba
1,The article discusses the military actions tak...,2011-07-03,Abyei,9.838551,28.486396,Yei
2,The article discusses the signing of a Framewo...,2011-06-30,Southern Kordofan,11.036544,30.895824,Southern Kordofan
3,The article discusses the upcoming independenc...,2011-07-04,South Sudan,6.876992,31.306979,South Sudan
4,The article discusses the need for South Sudan...,2011-07-02,Juba,4.859363,31.571250,Juba
...,...,...,...,...,...,...
18515,The article discusses the successful delivery ...,2023-04-26,Maiwut Primary Health Care Centre,8.606200,33.924100,Maiwut
18516,The article discusses the bombing and forced e...,2023-04-26,Khartoum,15.500654,32.559899,Khartoum
18517,The article discusses how Prime Minister Abiy ...,2023-04-23,Addis Ababa,8.980603,38.757761,Addis Ababa
18518,The article discusses the collapse of a commer...,2023-04-17,Kampala International University,0.294360,32.603970,Kampala International University
18519,The article discusses the establishment of a m...,2023-04-24,North Darfur State,15.766197,24.904221,North Darfur State

In [29]:
# get a summary of the article and loop through.

gpt_output = [] # list containing the output from the GPT model (the topic that gpt thinks belong to)

    
# Number of workers for ThreadPoolExecutor
MAX_WORKERS = 3

# Using a context manager for ThreadPoolExecutor
with ThreadPoolExecutor(max_workers=MAX_WORKERS) as executor:
    for out in tqdm(executor.map(get_response, article_summary['summary']), total=len(article_summary), desc="Processing", ncols=100):
        gpt_output.append(out)
        time.sleep(0.5)  # 3 second delay after each response

Processing: 100%|█████████████████████████████████████████████████| 833/833 [07:07<00:00,  1.95it/s]

In [30]:
gpt_df = pd.DataFrame()
gpt_df["output"] = gpt_output

In [31]:
gpt_df

               output
0               peace
1         agriculture
2        humanitarian
3        humanitarian
4            conflict
..                ...
828        healthcare
829          conflict
830      humanitarian
831  natural disaster
832          conflict

[833 rows x 1 columns]

In [32]:
gpt_df.to_csv('data/gpt_output_df23.csv', index=False)

In [35]:
import pandas as pd

# List of all CSV filenames
file_list = [f"data/gpt_output_df{i}.csv" for i in range(1, 24)]

# Read and concatenate the dataframes
dfs = (pd.read_csv(file) for file in file_list)
concatenated_df = pd.concat(dfs, ignore_index=True)

# Remove rows where any column has the value 'output'
filtered_df = concatenated_df[~(concatenated_df == 'output').any(axis=1)]

# Save to new CSV
filtered_df.to_csv("filtered_output_gpt.csv", index=False)

In [39]:
article_summary["category"] = filtered_df
article_summary.to_csv('data/articles_summary_cleaned_standardized_filtered_category.csv',)